nav{
    border: 1px solid;
    text-align: left;
    padding-left: 70px;
    padding-right: 10px;
    float: right;
    max-width: 200px;
    background-color: orange;
}
header{
    padding-left: 100px;
    margin-left: 15px;
    
}
html{
    font-family: Arial, Helvetica, sans-serif;    
    background-color: silver;       
    
}
p{
    word-wrap: break-word;
    border: 1px solid;
    float: left;
    max-width: 300px;
}
/*This is for the month of october after the 31st remove*/
/*Code from w3schools https://www.w3schools.com/howto/howto_css_shake_image.asp*/
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-3px, -5px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*Got this code from w3schools https://www.w3schools.com/howto/howto_css_full_page.asp*/
/*Art made by Conrad*/
body,html{
    height: 100%;
}
.bg{
    background-image: url("Tombstone.png");
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}