/*Main format for all the webpages*/
html{
    display: grid;
    background-color: #28464b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border: 10px solid #e8c547;
    text-align: center;
}
/*Call for the artpage to set stuff to the left*/
.Art{
    align-items: left;
    background-color: #823200;
}

/*ArtPage CSS*/
.seto, .sett, .setth, .setf, .setfi{
    word-wrap: break-word;
    background-color: #98AFC7;
    box-align: center;
    max-width: 500px;
    padding-left: 600px;
    padding-right: 600px;
    margin-left: 150px;
    margin-right: 150px;
}
/*MainPage CSS*/

/*Looked at w3schools to get a reminder for the code*/
/*MainPage CSS for the picture*/
.Conrad{
    border: solid black;
    border-radius: 50%;
}

/*Got the Code from w3Schools*/
.Nav{
    display: grid;
    background-color: black;
    margin-left: 600px;
    margin-right: 600px;
    
}
.Nav a{
    display: grid;
    justify-content: center;
    font-size: 24px;
    color: white;
    padding: 14px 24px;
    text-decoration: none;
}
.Nav a:hover{
    background-color: #bb4430;
}
.Mainpg{
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    
}
/************************/

.Nav2{
    display: grid;
    background-color: black;
    margin-left: 600px;
    margin-right: 600px;
    
}
.Nav2 a{
    display: grid;
    justify-content: center;
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}
.Nav2 a:hover{
    background-color: #bb4430;
}

.Nav3{
    display: grid;
    background-color: black;
    margin-left: 600px;
    margin-right: 600px;
    
}
.Nav3 a{
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}
.Nav3 a:hover{
    background-color: #bb4430;
}

.Nav4{
    display: grid;
    
    background-color: black;
    margin-left: 600px;
    margin-right: 600px;
    
}
.Nav4 a{
    display: grid;
    justify-content: center;
    float: left;
    font-size: 24px;
    color: white;
    padding: 14px 24px;
    
}
.Nav4 a:hover{
    background-color: #bb4430;
}

/*About me and Resume*/
.reback{
    background-color: #98AFC7; 
}
/*Link from the project wbesite that Lawley gave*/
@page{
    size: 5.5in
    8.5in;
}

/* Wanted to have the animated buttons but did not have time to add it to my page
@keyframes spin{
    to{transform: rotate(1turn);}
}
.artic{
    animation: spin 3s infinite linear;
    transform-origin: 50% 150px;
}*/
/*grey blue #98AFC7*/