/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body,.wrapper {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

body{
    display: grid;
    width: 90vw;
    max-width: 1200px;
    min-height: 100vh;

    grid-template-rows: 4rem, 1fr, 1fr;
    grid-template-columns: 1fr, 2fr, 1fr;

}
header{
    display: flex;
    margin: 0 auto;
    justify-content: center;    
}
footer{
    display: flex;
    justify-content: center;
}
aside{
  grid-column-start: 1;  
  grid-column-end: 1; 
}
.menuitem{
    background-color: white;
    margin: 0 auto;
    border: 1px solid  #86af49;
    padding: 0;
}

.submenu{
    background-color: silver;
    margin: 0 auto;
    padding-left: .25rem;
    display: none;    
}
ul{
    list-style-type: none;
}

