html{
    background-color: lightgoldenrodyellow;  
    font-family: Arial, Helvetica, sans-serif; 

}
footer{
    background-color: burlywood;
}
#wrapper
{
    max-width: 1000px;
    margin: 0 auto;
}
h1
{
    margin-bottom: .2em;
}
p
{
    align-content: center;
}
th, td{
    vertical-align: top;
    text-align: left;
    background-color: salmon;
}
a:hover{
    border-bottom: 1px solid salmon;
}